{
        # Enter the email to report for your certificate supplier (private)
        # You may receive e.g. renewal notifications etc
        email user@example.com
        # Uncomment to force to use staging servers - for testing
        # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# e.g. garage-nyc-001.mydomain.com
garage-region-node.example.com {
        reverse_proxy garage:3900 {
                header_up -Expect
                flush_interval -1
                transport http {
                        read_buffer 10M
                        write_buffer 10M
                        max_response_header 10M
                        versions 1.1
                        read_timeout 300s
                        write_timeout 300s
                        compression off
                }
        }
        request_body {
                max_size 5Gb
        }
        tls {
                # Change route53 to your DNS plugin of choice
                # (NB will need to update Dockerfile and rebuild container!)
                dns route53 {
                        # Enter credentials for DNS ACME challenge - NB varies by plugin, read the docs!
                        access_key_id "..."
                        secret_access_key "..."
                        hosted_zone_id "..."
                        route53_max_wait 2m
                }
                # Specifying resolvers for the challenge avoids an issue where your domain is served by
                # seperate public and private DNSes that do not return the same records
                # This can confuse caddy, because it might ask your provider to set
                # _acme_challenge.garage-par-047.example.com, but your internal DNS may not resolve this,
                # causing caddy to assume that the operation failed, and abort the challenge
                resolvers 8.8.8.8 1.1.1.1 9.9.9.9 208.67.222.222
        }
}
